@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: poppins;
}


header {
    font-size: 30px;
    background-color: rgb(78, 0, 78);
    color: white;
     display: flex;
    height: 140px;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right:50px;
}

header nav a:first-child {
  color: #999999;
}

header nav a:hover {
    color: #999999;
    transition: 0.3s;
}

.logo {
    display: flex;

}

.logo img {
     max-width: 15px;
     max-height: 15px;
}

header nav {
  display: flex;
  gap: 70px;
}


header nav a {
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.icones-header {
    display: flex;
    gap: 20px;
}

.icones-header img {
  width: 30px;
}



.h1 {
    font-family: momo+signature;
    color: rgb(255, 255, 255);
}

#cor-vermelha {
    color: rgb(254, 0, 0);
    
}
#cor-roxa {
    color: rgb(45, 0, 45);
}
#cor-yellow {
    color: yellow;
}
#cor-verde {
    color: green;
}
#cor-azul {
    color: blue;
}
#cor-azescuro {
    color: rgb(12, 12, 107);
}
#cor-marrom {
    color: rgb(59, 18, 0);
}

#button {
    background-color: brown;
    border-radius: 10px;
    width: 303px;
    height: 61px;
    border: none;
    color: white;
}

footer {
    background-color: rgb(78, 0, 78) ;
    color: white;
    font-style: oblique;
    height: 100px;
}
