header {
    background-color: rgb(78, 0, 78);
}
header nav a {
    color: white;
    text-decoration: none;
}
h1 {
    color: rgb(255, 255, 255);
}

#cor-vermelha {
    color: rgb(254, 0, 0);
    
}
#cor-roxa {
    color: rgb(45, 0, 45);
}
#cor-yellow {
    color: yellow;
}
#cor-verde {
    color: green;
}
#cor-azul {
    color: blue;
}
#cor-azescuro {
    color: rgb(12, 12, 107);
}
#cor-marrom {
    color: rgb(59, 18, 0);
}

#button {
    background-color: brown;
    border-radius: 10px;
    width: 303px;
    height: 61px;
    border: none;
    color: white;
}

footer {
    background-color: rgb(78, 0, 78) ;
    color: white;
    font-style: oblique;
    width: 2321px;
    height: 100px;
}
